List is a data type where you can store multiple items under 1 name. More technically, lists act like dynamic arrays which means you can add more items on the fly.

### Array Vs List

- Fixed (Array) Vs Dynamic Size (List)
- Convenience -> Hetrogeneous (List)
- Speed of Execution (Array faster)
- Memory (List require more memory)

In [1]:
L = [1,2,3]

print(id(L))
print('*'*50)
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print('*'*50)
print(id(1))
print(id(2))
print(id(3))

4368770816
**************************************************
4303544080
4303544112
4303544144
**************************************************
4303544080
4303544112
4303544144

### How lists are stored in memory ?
- referential array
- dynamic array

### Characterstics of a List
- ordered
- mutable
- heterogeneous
- duplicates allowed
- dynamic
- nested
- items can be accessed
- can contain any kind of objects in python

#### Creating list

In [2]:
# empty
print([])

[]

In [3]:
# 1D -> Homo
print([1,2,3,4,5])
# 2D
print([1,2,3,[4,5]])
# 3D
print([[[1,2],[3,4]],[[5,6],[7,8]]])
# Hetrogenous
print([1,True,5.6,5+6j,'Hello'])
# Using Type conversion
print(list('hello'))

[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['h', 'e', 'l', 'l', 'o']

#### accessing items from a list

In [4]:
# Indexing
L = [[[1,2],[3,4]],[[5,6],[7,8]]]
#positive
#print(L[0][0][1])

# Slicing
L = [1,2,3,4,5,6]

print(L[::-1])

[6, 5, 4, 3, 2, 1]

#### adding item

In [5]:
# append
l = [1,2,3,4]
l.append(True)
print(l)

[1, 2, 3, 4, True]

In [6]:
# extend
l = [1,2,3,4]
l.extend([6,7,8])
print(l)

[1, 2, 3, 4, 6, 7, 8]

In [7]:
l = [1,2,3,4]
l.append([6,7,8])
print(l)

[1, 2, 3, 4, [6, 7, 8]]

In [8]:
L = [1,2,3,4,5]
L.extend('delhi')
print(L)

[1, 2, 3, 4, 5, 'd', 'e', 'l', 'h', 'i']

In [9]:
# insert
L = [1,2,3,4,5]

L.insert(1,100)
print(L)

[1, 100, 2, 3, 4, 5]

### editing items in a list

In [10]:
L = [1,2,3,4,5]

# editing with indexing
L[-1] = 500

# editing with slicing
L[1:4] = [200,300,400]

print(L)

[1, 200, 300, 400, 500]

#### deleting item(s)

In [11]:
# del
L = [1,2,3,4,5]

# indexing
del L[-1]

# slicing
del L[1:3]
print(L)

[1, 4]

In [12]:
# remove
l = [1,2,3,4,3,5,4,3]
l.remove(3)
l

[1, 2, 4, 3, 5, 4, 3]

In [14]:
# pop
L = [1,2,3,4,5]
L.pop()
print(L)

[1, 2, 3, 4]

In [15]:
# clear
L = [1,2,3,4,5]
L.clear()
print(L)

[]

#### Operations on lists

In [16]:
# arithmetic
l1 = [1,2,3,4]
l2 = [5,6,7,8]

# concatenation/merge
print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
print(l1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [18]:
# membership operator
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]

print(5 not in L1)
print([5,6] in L2)

False
True

In [19]:
# Loops
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]
L3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in L3:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

In [20]:
# list functions
l = [2,1,5,7,0]

print(len(l), min(l), max(l))
print(sorted(l, reverse=True))

5 0 7
[7, 5, 2, 1, 0]

In [21]:
# count
l = [1,2,3,4,5]
l.count(4)

1

In [22]:
# index
L = [1,2,1,3,4,1,5]
L.index(1)

0

In [23]:
# reverse
L = [2,1,5,7,0]
# permanently reverses the list
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [24]:
# sort (vs sorted)
L = [2,1,5,7,0]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [25]:
# copy -> shallow
L = [2,1,5,7,0]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
4368800320
[2, 1, 5, 7, 0]
4368805184

#### list comprehension

In [26]:
# Add 1 to 10 numbers to a list
L = []

for i in range(1,11):
  L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
# scalar multiplication on a vector
v = [2,3,4]
s = -3
[s*i for i in v]

[-6, -9, -12]

In [29]:
# Add squares
L = [1,2,3,4,5]
[i**2 for i in L]

[1, 4, 9, 16, 25]

In [30]:
# Print all numbers divisible by 5 in the range of 1 to 50
[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [31]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']
[language for language in languages if language.startswith('p')]

['python', 'php']

In [32]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [33]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [34]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [35]:
# two way to traverse a list
# itemwise
L = [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

In [36]:
# indexwise
L = [1,2,3,4]

for i in range(0,len(L)):
  print(L[i])

1
2
3
4

#### Zip

In [40]:
l1 = [1,2,3,4]
l2 = [-1,-2,-3,-5]

list(zip(l1,l2))

[i+j for i,j in zip(l1,l2)]

[0, 0, 0, -1]

In [41]:
L = [1,2,print,type,input]

print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x10415de50>>]