### sets
- unordered
- mutable
- no duplicates
- can't contain mutable data types

#### creating sets

In [1]:
# empty
s = {}
print(s)
print(type(s))

{}
<class 'dict'>

In [2]:
# empty set - right syntax
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [3]:
# 1d set
s1 = {1,2,3}
print(s1)

{1, 2, 3}

In [4]:
# 2d set
s2 = {1,2,3,{4,5}}
print(s2)

TypeError: unhashable type: 'set'

In [5]:
# heterogeneous set
s3 = {1,'hi',4.5,(1,2,3), True}
print(s3)

{1, 'hi', 4.5, (1, 2, 3)}

In [6]:
# using type conversion
s4 = set([1,2,3])
print(s4)

{1, 2, 3}

In [7]:
# duplicates not allowed
s5 = {1,1,2,3,3,4}
print(s5)

{1, 2, 3, 4}

In [8]:
# sets can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

TypeError: unhashable type: 'list'

In [9]:
# sets are unordered
s1 = {1,2,3}
s2 = {3,2,1}
s1==s2

True

#### accessing items

In [10]:
s1 = {1,2,3,4}
s1[0:3]

TypeError: 'set' object is not subscriptable

#### editing items

In [11]:
s1 = {1,2,3}
s1[0] = 100

TypeError: 'set' object does not support item assignment

#### adding items

In [12]:
s = {1,2,3,4}
s.add(5)
print(s)

{1, 2, 3, 4, 5}

In [13]:
s.update([5,6,7])
print(s)

{1, 2, 3, 4, 5, 6, 7}

#### deleting items

In [14]:
# del
s = {1,2,3,4,5}
print(s)
del s
print(s)

{1, 2, 3, 4, 5}

NameError: name 's' is not defined

In [15]:
# discard
s = {1,2,3,4,5}
s.discard(5)
print(s)

{1, 2, 3, 4}

In [16]:
# discard
s = {1,2,3,4,5}
s.discard(6)
print(s)

{1, 2, 3, 4, 5}

In [17]:
# remove
s = {1,2,3,4,5}
s.remove(5)
print(s)

{1, 2, 3, 4}

In [18]:
# remove
s = {1,2,3,4,5}
s.remove(50)
print(s)

KeyError: 50

In [20]:
# pop
s = {1,2,3,4,5}
s.pop()
print(s)
s.pop()
print(s)

{2, 3, 4, 5}
{3, 4, 5}

In [21]:
# clear
s = {1,2,3,4,5}
s.clear()
print(s)

set()

#### set operations

In [22]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

In [23]:
# Union (|)
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
# intersection (&)
s1 & s2

{4, 5}

In [25]:
# difference (-) (in s1 but not in s2)
s1 - s2

{1, 2, 3}

In [26]:
# difference (-) (in s2 but not in s1)
s2 - s1

{6, 7, 8}

In [27]:
# symmetric difference (^)
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [28]:
# membership test
1 in s1

True

In [29]:
1 not in s1

False

In [30]:
# loops
for i in s1:
    print(i)

1
2
3
4
5

#### set functions

In [36]:
s = {1,2,3,4,5,6,7,3}
print(len(s), sum(s), min(s), max(s))
print(sorted(s))
print(sorted(s,reverse=True))

7 28 1 7
[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]

In [37]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [38]:
# update
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [39]:
# intersection/intersection update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

{4, 5}

In [40]:
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [41]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.difference(s2))

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [42]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.symmetric_difference(s2))

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [43]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,4,6}

s1.isdisjoint(s2)

False

In [44]:
# issubset
s1 = {1,2,3,4,5}
s2 = {3,4,5}
s2.issubset(s1)

True

In [45]:
# issuperset
s1 = {1,2,3,4,5}
s2 = {3,4}

s1.issuperset(s2)

True

In [46]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

#### frozenset
- it is an immutable version of a python set objects

In [47]:
# create frozen set
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [48]:
# 2d frozenset possible
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

In [49]:
# what works and what does not work in frozen set
# works -> all read functions
# doesn't work -> write operations

#### set comprehension

In [50]:
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}