### DICTIONARY
- collection of key values
- mutable
- indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

#### create dictionary

In [1]:
# empty dictionary
d = {}

In [2]:
# 1d dictionary
d1 = {'name': 'tarun', 'gender': 'Male'}
print(d1)

{'name': 'tarun', 'gender': 'Male'}

In [3]:
# with mixed keys
d2 = {(1,2,3):1, 'name':'tarun'}
print(d2)

{(1, 2, 3): 1, 'name': 'tarun'}

In [4]:
# 2d dictionary -> JSON
s = {
    'name':'tarun',
    'college':'IISc',
    'Sem': 4,
    'Subjects':{
        'python':50,
        'statistics':60,
        'SQL':48
    }
}
print(s)

{'name': 'tarun', 'college': 'IISc', 'Sem': 4, 'Subjects': {'python': 50, 'statistics': 60, 'SQL': 48}}

In [5]:
# using sequence and dict function
d4 = dict([('name','tarun'),('age', 31), ('gender', 'male')])
print(d4)

{'name': 'tarun', 'age': 31, 'gender': 'male'}

In [6]:
# check if duplicate keys possible or not
d5 = {'name':'tarun', 'name':'nitish'}
print(d5)
# doesn't throw error but the key is replaced

{'name': 'nitish'}

In [7]:
# immutable items as key
d6 = {'name':'tarun', (1,2,3): 2}
print(d6)

{'name': 'tarun', (1, 2, 3): 2}

In [8]:
# mutable item as key
d7 = {'name':'tarun', [1,2,3]:3}
print(d7)

TypeError: unhashable type: 'list'

#### accessing items

In [9]:
my_dict = {'name':'tarun', 'age': 31}

In [10]:
# []
my_dict['age']

31

In [11]:
# get
my_dict.get('age')

31

In [12]:
s['Subjects']['python']

50

#### adding key value pair

In [13]:
d4

{'name': 'tarun', 'age': 31, 'gender': 'male'}

In [14]:
d4['college'] = 'IIEST'
d4

{'name': 'tarun', 'age': 31, 'gender': 'male', 'college': 'IIEST'}

In [15]:
d4['weight'] = 70
d4

{'name': 'tarun',
 'age': 31,
 'gender': 'male',
 'college': 'IIEST',
 'weight': 70}

In [16]:
s['Subjects']['dsa'] = 35
s

{'name': 'tarun',
 'college': 'IISc',
 'Sem': 4,
 'Subjects': {'python': 50, 'statistics': 60, 'SQL': 48, 'dsa': 35}}

#### remove key-value pair

In [17]:
d = {'name':'tarun', 'age': 32, 'gender':'male', 'weight':69, 'college':'IIEST'}
d

{'name': 'tarun',
 'age': 32,
 'gender': 'male',
 'weight': 69,
 'college': 'IIEST'}

In [18]:
# pop
d.pop('college')
d

{'name': 'tarun', 'age': 32, 'gender': 'male', 'weight': 69}

In [19]:
# popitem -> delets the last item from a dictionary 
d = {'name':'tarun', 'age': 32, 'gender':'male', 'weight':69, 'college':'IIEST'}
d.popitem()
print(d)
d.popitem()
print(d)

{'name': 'tarun', 'age': 32, 'gender': 'male', 'weight': 69}
{'name': 'tarun', 'age': 32, 'gender': 'male'}

In [20]:
# del
d = {'name':'tarun', 'age': 32, 'gender':'male', 'weight':69, 'college':'IIEST'}
del d['name']
d

{'age': 32, 'gender': 'male', 'weight': 69, 'college': 'IIEST'}

In [21]:
# clear
d = {'name':'tarun', 'age': 32, 'gender':'male', 'weight':69, 'college':'IIEST'}
d.clear()
d

{}

In [22]:
del s['Subjects']['statistics']
s

{'name': 'tarun',
 'college': 'IISc',
 'Sem': 4,
 'Subjects': {'python': 50, 'SQL': 48, 'dsa': 35}}

#### editing key-value pair

In [23]:
s['Subjects']['dsa'] = 80
s

{'name': 'tarun',
 'college': 'IISc',
 'Sem': 4,
 'Subjects': {'python': 50, 'SQL': 48, 'dsa': 80}}

#### dictionary operations

In [24]:
# membership
print(s)

{'name': 'tarun', 'college': 'IISc', 'Sem': 4, 'Subjects': {'python': 50, 'SQL': 48, 'dsa': 80}}

In [25]:
'name' in s

True

In [26]:
# iteration
for i in s:
    print(i)

name
college
Sem
Subjects

In [27]:
s

{'name': 'tarun',
 'college': 'IISc',
 'Sem': 4,
 'Subjects': {'python': 50, 'SQL': 48, 'dsa': 80}}

In [28]:
for i in s:
    print(i,':', s[i])

name : tarun
college : IISc
Sem : 4
Subjects : {'python': 50, 'SQL': 48, 'dsa': 80}

In [29]:
d = {'name':'nitish','gender':'male','age':33}
for i in d:
  print(i,d[i])

name nitish
gender male
age 33

#### dictionary functions

In [30]:
# len/sorted
d

{'name': 'nitish', 'gender': 'male', 'age': 33}

In [31]:
len(d)

3

In [32]:
sorted(d, reverse=True)

['name', 'gender', 'age']

In [33]:
max(d)

'name'

In [34]:
# items/keys/values
d

{'name': 'nitish', 'gender': 'male', 'age': 33}

In [35]:
d.items()

dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 33)])

In [36]:
d.keys()

dict_keys(['name', 'gender', 'age'])

In [37]:
d.values()

dict_values(['nitish', 'male', 33])

In [38]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

#### dictionary comprehension

In [39]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [40]:
distances = {'delhi':1000, 'mumbai':2000, 'bengaluru':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bengaluru', 3000)])

In [41]:
{key:value*0.62 for (key, value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bengaluru': 1860.0}

In [42]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for(i,j) in zip(days, temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [43]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}
{key:value for(key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [44]:
# nested comprehension
# print tables from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}