### tuple
- immutable list
- ordered
- allows duplicate

In [1]:
# empty tuple
t1 = ()
print(t1)

()

In [3]:
# creating a tuple with a single element
t2 = ('hi',)
print(t2)
print(type(t2))

('hi',)
<class 'tuple'>

In [4]:
# homogeneous elements
t3 = (1,2,3)
print(t3)

(1, 2, 3)

In [5]:
# heterogeneous elements
t4 = (1, 2, True, [1,2,3])
print(t4)

(1, 2, True, [1, 2, 3])

In [6]:
# tuple within a tuple
t5 = (1,2,3,(4,5))
print(t5)

(1, 2, 3, (4, 5))

In [7]:
# using type conversion
t6 = tuple('hi')
print(t6)

('h', 'i')

#### accessing items
- indexing
- slicing

In [9]:
print(t3)
print(t3[0])
print(t3[-1])
print(t5[-1][0])
print(t3[0:2])
print(t3[::-1])

(1, 2, 3)
1
3
4
(1, 2)
(3, 2, 1)

In [10]:
# editing items
print(t3)
t3[0] = 100

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [11]:
# adding items
print(t3)       # not possible

(1, 2, 3)

In [12]:
# deleting items
print(t3)
del t3
print(t3)

(1, 2, 3)

NameError: name 't3' is not defined

In [13]:
t = (1,2,3,4,5)
t[0:3:2]

(1, 3)

In [14]:
t[-1:-4:-1]

(5, 4, 3)

#### operations on tuples

In [15]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [16]:
print(t1*2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [17]:
# membership
1 in t1

True

In [19]:
# iteration
for i in t1:
    print(i, end=' ')

1 2 3 4

#### tuple functions

In [21]:
t = (1,2,3,4)
print(len(t))
print(sum(t))
print(min(t))
print(max(t))

4
10
1
4

In [23]:
tuple(sorted(t, reverse=True))

(4, 3, 2, 1)

In [24]:
# count
t = (1,1,2,3,4,5)
t.count(6)

0

In [25]:
# index
t.index(2)

2

#### Difference between lists and tuples
- syntax
- mutability, tuples are immutable, lists are mutable
- speed, generally tuples are faster than lists
- memory
- built in functionality
- error prone
- usability

In [26]:
# to check if tuples are faster than lists
import time

L = list(range(100000000))
T = tuple(range(100000000))

# list time
start = time.time()
for i in L:
    i*5
    if i%2 == 0:
        i*5
print('list time: ', time.time()-start)

# tuple time
start = time.time()
for i in T:
    i*5
    if i%2 == 0:
        i*5
print('tuple time: ', time.time()-start)

list time:  12.697975873947144
tuple time:  12.291660070419312

In [27]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [28]:
# list is error prone
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [29]:
# what about tuple
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

In [30]:
a = (1, 2, 3)
b = a
print(id(a), id(b))  # Same id

a = a + (4,)
print(id(a), id(b))  # Different id for a, same id for b

4355222656 4355222656
4355230672 4355222656

#### why tuple is needed? -> Immutable

In [31]:
# tuple unpacking
a,b,c = (1,2,7)
print(a,b,c)

1 2 7

In [32]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [33]:
# swap values
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [34]:
# i only want first two characters from a tuple, rest i am not interested
a, b, *others = (1,2,3,4,5,6)
print(a,b)
print(others)

1 2
[3, 4, 5, 6]

In [35]:
# zipping tuples
a = (1,2,3,4,5)
b = (5,6,7,8,9)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8), (5, 9))